/* SEARCH BAR & BUTTONS */
.search-bar {
  background: #d5c455;
  padding: 30px;
  height: auto;
}

.search-b,
.filter-bar
 {
  background-color: #d5c455;
  border: 1px solid #fddb3a;
  outline: none;
  -webkit-appearance: none;
  padding: 20px;
  font-size: 1rem;
  border-radius: 2px;
}

.search-b:hover,
.filter-bar:hover,
#comment {
  border: 1px solid #ede59a;
}

#comment {
  background-color: #d5c455;
  border: 1px solid #fddb3a;
  outline: none;
  -webkit-appearance: none;
  padding: 30px;
  font-size: 1rem;
  border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-s {
  display: inline-block !important;
  font-size: 1rem;
  font-family: 'Anton', sans-serif;
  background-color: #fddb3a;
  border: 1px solid #fddb3a;
  border: none;
  border-radius: 2px;
  padding: 19px;
  cursor: pointer;
}

.button-s:hover {
  background-color: #ede59a;
  border: 1px solid #fddb3a;
}

::placeholder {
  color: black;
  font-family: 'Anton', sans-serif;
}

@media (min-width: 992px) {
  .search-bar {
    display: flex;
    text-align: center;
    justify-content: flex-start;
  }

  .filter-bar {
    margin-left: 130px;
  }
}

#arrow-button {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.3rem;
  position: fixed;
  bottom: 100px;
  right: 15px;
  z-index: 99;
  color: rgb(143, 143, 143);
  background: transparent;
}

#arrow-button:hover {
  color: #333333;
}